.container {
  margin-top: 20px;
}

.gauge-container,
.chart-container {
  width: 48%; /* Cada gráfico ocupará el 48% del ancho del contenedor */
  margin: 1%; /* Espacio entre los gráficos */
  padding: 20px;
  background-color: #171e21; /* Fondo oscuro para el contenedor */
  border-radius: 15px; /* Bordes redondeados */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gauge-title,
.chart-title {
  font-size: 1.2em;
  color: #000000; /* Cambiar color del título a negro */
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.gauge-custom ngx-gauge text {
  fill: #ffffff !important; /* Asegura que el texto dentro del gráfico sea blanco */
  font-size: 0.8em !important; /* Disminuir el tamaño del texto */
}

ngx-charts-line-chart,
ngx-gauge,
ngx-charts-bar-vertical {
  display: block;
  width: 100%;
  height: 200px; /* Ajusta la altura según sea necesario */
}

:host ::ng-deep .ngx-charts text {
  fill: #ffffff !important; /* Color del texto en los gráficos */
}

:host ::ng-deep .legend-label,
:host ::ng-deep .legend-title {
  fill: #ffffff !important;
  font-size: 14px !important; /* Ajuste del tamaño de fuente para que se vea mejor */
}

:host ::ng-deep .x-axis .tick text,
:host ::ng-deep .y-axis .tick text {
  fill: #ffffff !important; /* Color del texto en los ejes */
}

:host ::ng-deep .x-axis .label,
:host ::ng-deep .y-axis .label {
  fill: #ffffff !important; /* Color de las etiquetas de los ejes */
}

:host ::ng-deep .tooltip-label {
  fill: #ffffff !important; /* Color de las etiquetas de las herramientas */
}

.chart-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.chart-title {
  color: #000000; /* Cambiar color del título a negro */
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
