
<nz-table [nzLoading]="loading" #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzFooter]="footerTemplate"  class="table-with-footer">
    <thead>
      <tr>
        <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Dispositivo</th>
        <th>Escenario</th>
        <th >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let i = index" [class.selected-row]="isSelected(data.id)">
  
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
  
        <td *ngFor="let key of columnsKeys">
         {{data[key]}}  
        </td>
        
        <td>
          <button nz-button nzType="default" class="action-button" (click)="show(data.id)">
            <i nz-icon nzType="eye"></i> Mostrar
          </button>
          <!-- Botón para editar -->
          <button nz-button nzType="default" class="action-button" (click)="edit(data.id)">
            <i nz-icon nzType="edit"></i> Editar
          </button>
          <!-- Botón para eliminar -->
          <button nz-button nzType="default" class="action-button" (click)="delete(data.id)">
            <i nz-icon nzType="close"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #footerTemplate>
      <tr>
        <td colspan="6">
          <div class="footer-container">
            <!-- Checkbox para "Seleccionar todos" -->
  
  
              <nzlabel class="label" nz-checkbox [(ngModel)]="checked" [nzIndeterminate]="indeterminate" (ngModelChange)="onAllChecked($event)">
                Todos los elementos ({{ listOfData.length }})
              </nzlabel>
              <span class="span">
                Eliminar
              </span>
              <!-- Botón "Aceptar" -->
              <button nz-button nzType="primary" (click)="confirmDeleteSelected()">
              Aceptar
            </button>
            <!-- Dropdown para exportar -->
  
            <nz-dropdown-menu #menu4="nzDropdownMenu">
              <ul nz-menu nzSelectable >
                <li nz-menu-item ><i nz-icon nzType="file-pdf"></i> PDF</li>
                <li nz-menu-item ><i nz-icon nzType="file-excel"></i> XLS</li>
                <li nz-menu-item  ><i nz-icon nzType="file-word"></i> DOCX</li>
              </ul>
          </nz-dropdown-menu>
          </div>
        </td>
      </tr>
    </ng-template>
  </nz-table>
  
  
  
  